span.blue {
    color: #004C86;
}

body {
    overflow-x: hidden;
}



/* Header */
.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-width: 1900px;
    background: rgba(0, 0, 0, 0.3);
    color: #f9f9f9;
    line-height: 65px;
    transition: 0.5s;
    border-bottom: 1px solid transparent;
    z-index: 999;
}

.Header:hover {
    background: rgba(255, 255, 255, 1);
    color: #444444;
}

.Header.on {
    background: rgba(255, 255, 255, 1);
    color: #444444;
    line-height: 70px;
    border-bottom: 1px solid #ddd;
}

.Header h1 {
    float: left;
    margin: 0 0 0 340px;
    font-size: 0;
}

.Header h1 a {
    display: inline-block;
    vertical-align: middle;
    width: 171px;
    height: 42px;
    background: url(../img/logo_w.png);
}

.Header:hover h1 a {
    background: url(../img/logo_a.png);
}

.Header.on h1 a {
    background: url(../img/logo_a.png);
}

.Header .TopBanner {
    overflow: hidden;
    height: 35px;
    transition: 0.4s;
    line-height: 1.2;
    border-bottom: 0.5px solid rgba(196, 196, 196, 0.5);
}

.Header .TopBanner .inner {
    position: relative;
    padding: 10px;
}

.Header .TopBanner.on {
    height: 0;
}

.Header .TopBanner .top_menu {
    display: flex;
    gap: 30px;
    font-size: 12px;
    font-weight: 100;
    float: right;
    margin: 0 350px 0 0;
}

.Header .top_menu li {
    position: relative;
}

.Header .top_menu li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    width: 1px;
    height: 10px;
    background: rgba(196, 196, 196, 0.5);
    transform: translateY(-50%);
}

.Header .Gnb {
    float: right;
    margin: 0 340px 0 0;
}

.Header .Gnb>ul>li {
    float: left;
}

.Header .Gnb>ul>li>a {
    position: relative;
    display: block;
    padding: 0 35px;
    font-size: 16px;
}

.Header .Gnb>ul>li>a::after {
    content: "";
    position: absolute;
    left: 35px;
    right: 100%;
    bottom: -1px;
    height: 4px;
    background: #004C86;
    transition: 0.3s;
}

.Header .Gnb>ul>li>a:hover::after {
    right: 35px;
}



/* Main */
.video {
    width: 100%;
}

.search-box input[type="text"] {
    outline: none;
    border: none;
    border-bottom: 1px solid #ababab;
    padding: 5px 0;
    position: relative;
}

.search-box button {
    background: transparent;
    outline: none;
    border: none;
    padding-left: 10px;
    position: absolute;
}

.search-box button i {
    color: white;
    font-size: 28px;
}

.search-box {
    position: absolute;
    bottom: 14.5%;
    right: 0;
    z-index: 10;
    width: 33%;
    padding: 30px 40px 10px;
    background-color: #004C86;
    color: white;
    height: 120px;
    font-size: 14px;
}

.search-box .tags {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
}

.search-box .tags a {
    padding-right: 20px;
}



/* PNU */
.pnu {
    width: 100%;
    margin: 0 auto;
    letter-spacing: 0.6px;
    padding: 100px;
}

.pnu h2 {
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.allBox {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 80px;
}

.pnu p {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 44px;
    line-height: 1.5;
    text-align: center;
}

.tabBox {
    width: 50%;
    height: 100%;
    display: inline-block;
    padding-bottom: 50px;
}

.tabMenu>ul {
    display: flex;
    width: 100%;
}

.tabMenu li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    border: 1px solid #bbb;
    font-size: 13px;
    flex: 1;
    background: #f3f6f8be;
}

.tabMenu li.active {
    font-weight: 600;
    border-bottom: none;
    background: #fff;
}

.tabMenu li a {
    display: block;
    text-align: center;
    width: 100%;
    color: #444444;
}

.tabContent {
    width: 100%;
    position: relative;
    text-align: center;
}

.tabContent li {
    border-bottom: 1px solid #bbb;
    height: 50px;
}

.tabContent li span {
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
    line-height: 4;
    float: left;
}

.tabContent li p {
    display: inline-block;
    font-size: 12px;
    line-height: 4.2;
}

.tabContent li strong {
    margin-right: 20px;
    font-size: 11px;
    color: #959595;
    line-height: 4.4;
    float: right;
}

.etcBox {
    width: 50%;
    display: inline-block;
}

.infoBox {
    display: flex;
    text-align: center;
}

.infoBox li {
    position: relative;
}

.infoBox li .caption {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.infoBox .caption {
    position: absolute;
    top: 50%;
    padding-top: 50px;
    left: 50%;
    transition: 1s ease;
    opacity: 0;
    color: white;
    letter-spacing: 0.6px;
}

.infoBox .caption img {
    margin-bottom: 15px;
}

.infoBox .caption p {
    font-size: 15px;
}

.infoBox .caption span {
    font-size: 12px;
    font-weight: 300;
}

.infoBox .caption .image {
    overflow: hidden;
    margin: 0 0 40px 0;
}

.infoBox .caption img {
    transition: 0.4s;
}

.infoBox .caption:hover img {
    transform: scale(1.2);
}



/* Recruit */
.recruit {
    background: url(../img/recruit.jpg) no-repeat center center/cover;
    color: white;
    letter-spacing: 0.6px;
    text-align: left;
    width: 100%;
}

.recruit h4 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 35px;
}

.recruit p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
}

.recruit .ad {
    padding: 70px 0;
    margin-left: 470px;
}

.recruit span.touch {
    vertical-align: 0.5em;
    font-size: 0.75em;
}



/* Focus */
.focus {
    width: 100%;
    margin: 0 auto;
    letter-spacing: 0.6px;
    text-align: center;
    padding: 100px;
}

.focus .swiper {
    width: 1200px;
}

.focus h2 {
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 66px;
}

.focus .swiper .title_date {
    font-size: 11px;
    font-weight: 300;
    text-align: right;
    margin-top: 10px;
}

.focus .swiper .title {
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0 15px 0;
}

.focus .swiper .title_des {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.4;
}



/* Research */
.research {
    width: 100%;
    margin: 0 auto;
    letter-spacing: 0.6px;
    text-align: center;
    padding: 100px;
    background: #f9f9f9;
}

.research h2 {
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 30px;
}

.research>p {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 44px;
}

.research .inner {
    position: relative;
    width: 100%;
}

.research .center_slider img {
    margin: 0 auto;
}

.research .center_slider figure {
    filter: brightness(2) grayscale(1);
}

.research .center_slider figure.on {
    filter: brightness(1) grayscale(0);
    transition: 0.3s;
}

.research .content_box>div {
    display: none;
}

.research .content_box>div.on {
    display: block;
}

.research .case {
    position: absolute;
    left: 50%;
    top: 100px;
    background: #fff;
    padding: 50px;
    margin: 0 0 0 -520px;
    width: 300px;
    text-align: left;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
    letter-spacing: 0.6px;
}

.research .case::after {
    content: "";
    position: absolute;
    top: 60px;
    left: -20px;
    width: 40px;
    height: 4px;
    background: #004C86;
}

.research .inner a {
    display: inline-block;
    padding: 12px 24px 12px 24px;
    border: 1px solid #004C86;
    color: #004C86;
    font-size: 12px;
    margin: 0 0 30px 0;
}

.research .content_box strong {
    font-size: 19px;
    font-weight: 500;
    display: block;
    margin: 0 0 25px 0;
    line-height: 1.3;
}

.research .content_box p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 40px 0;
}

.research .case .num {
    font-size: 26px;
    color: #004C86;
}

.research .case .num span {
    font-size: 16px;
    color: #555;
}

.research .slide_handler {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1250px;
}

.research .slide_handler i {
    padding: 14px 14px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.research .slide_handler i:first-child {
    float: left;
}

.research .slide_handler i:last-child {
    float: right;
}

.research .slick-dots {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.research .slick-dots li {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #dddddd;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}

.research .slick-dots li.slick-active {
    background: #004C86;
}

.research .slick-dots li button {
    display: none;
}



/* Campus */
.campus {
    width: 100%;
    box-sizing: border-box;
    padding: 300px;
    position: relative;
    letter-spacing: 0.6px;
}

.campus .number {
    position: absolute;
    box-sizing: border-box;
    gap: 45px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-around;
}

.campus .count {
    width: 260px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    border-radius: 10%;
    border: 1px solid #e0e0e0;
    border-bottom: 20px solid #004C86;
}

.number i {
    color: #004C86;
    font-size: 40px;
    text-align: center;
}

.number p.count-num {
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 40px;
}

.number p.text {
    font-size: 14px;
    text-align: center;
}



/* Footer */
.Footer {
    border-top: 1px solid white;
    font-weight: 300;
    width: 100%;
}

.Footer .menu {
    display: flex;
    justify-content: center;
    height: 60px;
    line-height: 2.4;
    gap: 30px;
    background: #004C86;
    color: white;
}

.Footer .menu li {
    position: relative;
}

.Footer .menu li~li::before {
    content: "";
    width: 0.5px;
    height: 12px;
    width: 1px;
    background: #d6d6d4;
    opacity: 0.5;
    position: absolute;
    top: 25%;
    left: -14%;
    bottom: 0;
    margin: auto;
    transform: translateY(-50%);
}

.Footer .menu li a {
    display: block;
    font-size: 15px;
    padding: 13px;
}

.Footer button {
    width: 60px;
    height: 60px;
    right: 0;
    top: -1px;
    transition: all .3s ease;
    font-size: 12px;
    padding-top: 20px;
    border: 1px solid #d6d6d4;
    border-top: none;
    border-bottom: none;
    color: white;
    background: #004C86 url(../img/topBtn.png) no-repeat 50% 18px;
}

.Footer .f_bottom {
    display: flex;
    padding-left: 20px;
    margin: 0 auto;
    justify-content: center;
    padding: 43px 0 43px 0;
}

.Footer .f_logo {
    margin-right: 50px;
}

.Footer .capmus_info {
    text-align: left;
    margin-right: 100px;
}

.Footer .capmus_info p {
    font-size: 12px;
    margin-bottom: 11px;
}

.Footer .copyright {
    color: #999;
    font-size: 12px;
    margin-top: 22px;
}

.Footer .sponsor {
    display: flex;
    gap: 20px;
}